// Override default variables before the import
// $body-bg: rgb(72, 94, 168);
$enable-gradients: true;
$body-bg: #c3d2f4ff;
$primary: #5a87cb;
// $body-bg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(194,210,246,1) 0%, rgba(79,126,196,1) 100%);
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.color-nav{
    background-color: #5a87cb;
}
.nav-link{
  color: white !important;
}

.nav-btn {
    color: white;
}

.home {
    align-content: center;
}
body {
    font-family: 'Roboto', sans-serif;
}

.myCarousel {
    height: auto;
    width: auto;
    overflow: hidden;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;

  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '❯';
  font-size: 60px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '❮';
  font-size: 60px;
  color: black;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
// Footer styles from https://www.ordinarycoders.com/blog/article/bootstrap-footers
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#5a87cb;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:18px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:16px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:white;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.5;
    font-size:14px;
    margin-bottom:0;
  }
  // End Footer Styles

  // Contact form styles
  // https://codepen.io/formbucket/pen/xEKYoX
  .form-box {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border: 10px solid #f2f2f2;
  }
  
  h1, p {
    text-align: center;
  }
  
  input, textarea {
    width: 100%;
  }
  .form-group.required .control-label:after {
    content:"*";
    color:red;
  }

  // Cards

  // .program-card{
  //   background-color: #5a87cb;
  // }

/* Flip Cards CSS */
// https://codepen.io/nicolaskadis/pen/brQEOd
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position:absolute;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  text-overflow: ellipsis;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
// end card flip

.hr-programs {
  border: 2px solid $primary;
  margin: 1px;
}

.card-topic {
  height: 150px;
  width: 150px;
  background-color: $primary;
  color: white;
}
.arrow-bullet {
  font-size: 40px;
  color: #ffe599;
  max-width: 50px;
}

input.invalid {
  border-color: red;
}

input {
  max-width: 400px;
}